body {
  background-color: black;
  font-family: Arial;
  color: white;
  text-align: center;
  line-height: 24px;
}

img {
  border-radius: 50%;
  border: 2px solid white;
  width: 120px;
  margin: 0px 4px;
}

a {
  text-decoration: none;
  background-color: red;
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  border-radius: 16px;
  border: 4px solid red;
  transition: 0.3s ease;
}

a:hover {
  color: white;
  border: 4px solid white;
  background-color: black;
}

.container {
  width: 640px;
  margin: 16px auto;
  padding: 4px ;
  border-radius: 24px;
  border: 8px solid red;
}

.align-horizontal {
  display: flex;
  align-items: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.liste-inline {
  list-style: none;
  padding-left: 0px;
}

.liste-inline > li {
  display: inline-block;
}


.card {
  width: 100%;
  height: 512px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
  font-weight: bolder;
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 24px;
  transition: all 1s;
  border: 2px solid red;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card p img {

  display: none;
}

.card p span {
  min-width: 20em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 1s;

}

.card p:hover {
  flex: 8;
  align-items: end;
}

.card .bg-img1:hover { background-image: url('images/cobra.jpg') }
.card .bg-img2:hover { background-image: url('images/dandadan.jpg') }
.card .bg-img3:hover { background-image: url('images/dr_stone.jpg') }
.card .bg-img4:hover { background-image: url('images/dumbbellnankilomoteru.jpg') }
.card .bg-img5:hover { background-image: url('images/hellsingultimate.jpg') }
.card .bg-img6:hover { background-image: url('images/thebigo.jpg') }
.card .bg-img7:hover { background-image: url('images/valkyrieapocalypse.jpg') }
.card .bg-img8:hover { background-image: url('images/yakitatejapan.jpg') }

.card p:hover span {
  transform: rotate(0);
  transform-origin: left;
}
